@font-face {
    font-family: 'Segoe-Print-Font';
    src: url(font/Segoe-Print-Font.ttf);
}

body {
    background-color: rgb(31, 28, 28);
}

.header {
    height: 100px;
    width: 100%;
    margin: auto;
    padding: 10px;
    border-bottom: 5px solid black;
    position: fixed;
    right: 0%;
    top: 0%;
    background-color: rgb(42, 48, 51);
    user-select: none;
    z-index: 100;
}

.header h1 {
    font-family: 'Segoe-Print-Font';
    font-size: 75px;
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bambusa-text {
    color: red;
}

.text {
    color: white;
    position: absolute;
    top: 120px;
    left: 10px;
}

#bambus-img-1 {
    height: 250px;
    width: auto;
}

#das-ist-bambus-text {
    position: relative;
    bottom: 160px;
    left: 150px;
}

#e {
    position: absolute;
    top: 10000px;
}